html,body {
    width:100%;
}
.hero-body {
    padding: 30px;
}
#columnsContainer {
    width: 50%;
    margin: auto;
}
@media screen and (max-device-width: 1200px){
    #columnsContainer {
        width: 75%;
        margin: auto;
    }
}
@media screen and (max-device-width: 900px){
    #columnsContainer {
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-device-width: 768px){
    #columnsContainer {
        width: 70%;
        margin: auto;
    }
}
@media screen and (max-device-width: 480px){
    #columnsContainer {
        width: 100%;
        margin: auto;
    }
    .hero-body {
        padding: 15px;
    }
}
.columnContainer {
    min-width: 380px;
    max-width: 520px;
}
.photo {
    width: 100px;
    height: 150px;
    margin: auto;
}
.statsButton {
    text-align: left;
    border: none;
    font-size: 16px;
    height: auto;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    padding: 5px; 
}
.statsButton:hover {
    text-decoration: underline;
}
.opponentStats {
    text-align: left;
    font-size: 16px;
    height: auto;
    width: 100%;
    padding: 3.5px;
    color: black; 
}
span {
    font-weight: bold;
}
p {
    color: red;
}